<footer class="site-footer">
    <div class="social-bar">
      <ul class="social-item-container">
        <li class="social-item"><a href="/">Facebook</a></li>
        <li class="social-item"><a href="/">Instagram</a></li>
        <li class="social-item"><a href="/">Twitter</a></li>
      </ul>
    </div>
    <div class="footer-content">
      <header class="footer-header">
        <div class="container">
            <h2 class="footer-title">{{ .Site.Title }}</h2>
            <a href="{{.Params.address}}"><address class="footer-address">1675 Cherokee Rd Alexander City, AL 35010 (256) 234-6346</address></a>
        </div>
      </header>
      <div class="container">
        <div class="footer-links">
            <div class="footer-col">
              <h4 class="footer-header">Contact</h4>
    
            </div>
            <div class="footer-col">
              <h4 class="footer-header">Students</h4>
              <ul>
                <li>MYCACC</li>
                <li>Moodle</li>
                <li>Student Email</li>
              </ul>
            </div>
            <div class="footer-col">
            <h4 class="footer-header">Special Information</h4>
              <ul>
                <li>Emergency Plan</li>
                <li>Disclosures</li>
                <li>Campus Locations</li>
              </ul>
            </div>
          </div>
      </div>

      <div class="footer-logos">
        <img class="footer-logo" src="/images/logo/accs-logo.svg">
        <img class="footer-logo" src="/images/logo/cacc-logo.svg">
      </div>
    </div>
  </footer>