<header class="video-banner" id="video-banner">
  <div class="video" data-src="/images/students.jpg" data-video="/videos/cacc.mp4" data-placeholder="/images/students.jpg"></div>
  <div class="video-overlay"></div>
  <div class="vertical">
    <div class="header-content">
      <!--<img class="header-badge" src="/assets/images/cacc.svg"></a>-->
      <h1 class="header-title">{{ .Params.bannertext }}</h1>
      <h1 class="header-subtitle">{{ .Params.bannersubtext }}</h1>
      <button href="" class="button draw header-button">Get Started</button>
      
    </div>
  </div>
</header>
<div class="block">
  <div class="block-news">
    <div class="block-news-intro">
      <div class="block-news-intro-content">
        <div class="vertical">
          <hr />
          <a href="/news"><h2>Latest News</h2></a>
          <h3>From Central Alabama Community College</h3>
        </div>
      </div>
    </div>
    {{ range first 4 (where .Data.Pages "Section" "news") }}
      <div class="block-news-item" alt="{{ .Title }}" style="background-image: url(images-resized/small/{{ .Params.image }});">
        <div class="block-news-item-overlay {{ .Params.color }}">
          <div class="block-news-item-date {{ .Params.color }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </div>
          <div class="block-news-item-content">
              <a href="{{ .URL }}"><h4>{{ .Title }}</h4></a>
              <a href="{{ .URL }}">Read More <i class="fal fa-long-arrow-right fa-1x"></i></a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>