<nav class="quick-links fade-in">
  <div class="vertical">
    <ul>
      <li>
        <a href="/students/">Students</a>
      </li>
      <li>
        <a href="http://portal.cacc.edu">Faculty &amp; Staff</a>
      </li>
      <li>
        <a href="https://alliant.cacc.edu/accws/isclogin.pgm">MyCACC</a>
      </li>
      <li>
        <a href="/calendar/">Calendar</a>
      </li>
      <li>
        <a href="#search-icon-test" id="searchButton"><img class="search-icon" src="/images/search.svg" /></a>
      </li>
    <ul>
  </div>
</nav>
<nav id="nav" class="nav fade-in-slow">
  <div class="nav-title">
    <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}"><img class="nav-logo" src="/images/logo/cacc-logo.svg"></a>
  </div>
  <div class="nav-items">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{end}}">{{ .Name }}</a>
      </li>
      {{end}}
      <li>
          <a class="nav-calltoaction" id="apply" href="https://alliant.cacc.edu/accws/isclogin.pgm" title="apply">Apply</a>
      </li>
    </ul>
    <a href="#" class="nav-button" id="navButton">
      <span class="burger-icon"></span>
    </a>
  </div>
</nav>
<nav class="mobile-nav">
  <div class="mobile-nav-items vertical">
    <ul class="vertical">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{end}}">{{ .Name }}</a>
        </li>
      {{end}}
        <li>
            <a class="nav-calltoaction" id="apply" href="https://alliant.cacc.edu/accws/isclogin.pgm" title="apply">Apply</a>
        </li>
    </ul>
  </div>
</nav>