<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/scrollreveal.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/video-banner.js"></script>
<script src="/js/lunr.js"></script>
<script src="/js/search.js"></script>
