// https://codepen.io/giana/pen/yYBpVY
.draw {
  transition: color 0.25s;

&::before,
&::after {
  // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
  border: .2em solid transparent;
  width: 0;
  height: 0;
}

// This covers the top & right borders (expands right, then down)
&::before {
  top: 0;
  left: 0;
}

// And this the bottom & left borders (expands left, then up)
&::after {
  bottom: 0;
  right: 0;
}

&:hover {
  color: $color-brand-alt;
  cursor: pointer;
}

// Hover styles
&:hover::before,
&:hover::after {
  width: 100%;
  height: 100%;
}

&:hover::before {
  border-top-color: $color-brand-alt; // Make borders visible
  border-right-color: $color-brand-alt;
  transition:
    width 0.25s ease-out, // Width expands first
    height 0.25s ease-out 0.25s; // And then height
}

&:hover::after {
  border-bottom-color: $color-brand-alt; // Make borders visible
  border-left-color: $color-brand-alt;
  transition:
    border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
    width 0.25s ease-out 0.5s, // And then exanding width
    height 0.25s ease-out 0.75s; // And finally height
}
}

.meet {
  
  &:hover {
    color: $color-white;
  }

  // Start ::after in same position as ::before
  &::after {
    top: 0;
    left: 0;
  }

  // Change colors
  &:hover::before {
    border-top-color: $color-white;
    border-right-color: $color-white;
  }

  &:hover::after {
    border-bottom-color: $color-white;
    border-left-color: $color-white;
    transition: // Animate height first, then width
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }

}


.header-button {
  background: $color-brand-alt;
  &:hover {
    color: $color-white;
    background: $color-transparent;
  }

  // Start ::after in same position as ::before
  &::after {
    color: $color-white;
    top: 0;
    left: 0;
  }

  // Change colors
  &:hover::before {
    border-top-color: $color-white;
    border-right-color: $color-white;
  }

  &:hover::after {
    border-bottom-color: $color-white;
    border-left-color: $color-white;
    transition: // Animate height first, then width
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }

}