
.block-section{
  display: inline-block;
  width: 100%;
}
.block-image{
  display: table;
  width: 50%;
  min-height: 50vw;
  max-height: 50vw;
  height: 50vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  @include span(1/2);
  @media (max-width: $tablet) {
    @include stack();
    min-height: 70vw;
    max-height: 70vw;
    height: 70vw;
  }
}
.block-content{
  display: table;
  width: 50%;
  min-height: 50vw;
  max-height: 50vw;
  height: 50vw;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: scroll;
  -webkit-background-size: 70%;
  -moz-background-size: 70%;
  -o-background-size: 70%;
  background-size: 70%;
  overflow-y: hidden;
  @include span(1/2);
  @media (max-width: $tablet) {
    @include stack();
    display: table;
    min-height: 70vw;
    max-height: 70vw;
    height: 70vw;
    padding: $spacing-unit / 2 0 $spacing-unit / 4;
  }
}

.block-features{
  display: table;
  background: $color-white;
  width: 50%;
  min-height: 50vw;
  max-height: 50vw;
  height: 50vw;
  overflow-y: hidden;
  @include span(1/2);
  @media (max-width: $tablet) {
    @include stack();
    display: table;
    min-height: 70vw;
    max-height: 70vw;
    height: 70vw;
  }
  .block-small{
    display: table;
    width: 50%;
    min-height: 25vw;
    max-height: 25vw;
    height: 25vw;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include span(1/2, $cycle: 2);
    @media (max-width: $tablet) {
      min-height: 50vw;
      max-height: 50vw;
      height: 50vw;
    }
    @media (max-width: $phone){
      @include stack();
    }
    .block-small-overlay{
      display: table;
      width: 100%;
      height: 100%;
      .block-small-content{
        display: table;
        box-shadow: inset 0 0 0 .2em $color-transparent;
        text-align: center;
        height: 93%;
        width: 93%;
        margin: 3%;
        h3{
          margin: 0;
          margin-top: $spacing-unit / 2;
          color: $color-white;
          text-transform: uppercase;
          letter-spacing: .1em;
          font-size: 1.6rem;
          font-weight: 600;
          @media (max-width: $phone) {
            font-size: 1rem;
          }
        }
      }
    }

  }
}
.block-text{
  font-size: 100%;
  h2{
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: .8rem;
    margin: 0;
    margin-bottom: $spacing-unit / 4;
    @media (max-width: $laptop) {
      font-size:  2.5rem;
      letter-spacing: .5rem;
    }
    @media (max-width: $phone) {
      font-size:  1.8rem;
      letter-spacing: .3rem;
    }
  }
  h3{
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .5rem;
    @media (max-width: $tablet) {
      font-size:  2rem;
    }
    @media (max-width: $phone) {
      font-size:  1.4rem;
      letter-spacing: .3rem;
    }
  }
  hr{
    width: 4em;
    height: .5em;
    margin: 0;
    margin-top: $spacing-unit / 4;
    margin-bottom: $spacing-unit / 4;
    background: $color-brand-alt;
  }
  button{
    margin-left: 0;
    margin-top: 0;
  }
  @media (max-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}
.block-title{
  margin-bottom: 0;
}

.block-news{
  width: 100%;
  min-height: 35vh;
  max-height: 35vh;
  height: 35vh;
  .block-news-intro{
    min-height: 35vh;
    max-height: 35vh;
    height: 35vh;
    @include span(1/5);
    @media (max-width: $tablet){
      @include stack();
    }
    h2{
      font-size: 2rem;
      margin: 0;
    }
    h3{
      font-size: 1rem;
      margin: 0;
    }
    hr{
      width: 4em;
      height: .5em;
      margin: 0;
      margin-top: $spacing-unit / 4;
      margin-bottom: $spacing-unit / 4;
      background: $color-brand-alt;
    }
    .block-news-intro-content{
      padding: 1em;
    }
  }
  .block-news-item{
    display: table;
    min-height: 35vh;
    max-height: 35vh;
    height: 35vh;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include span(1/5);
    @media (max-width: $tablet){
      @include span(1/2);
    }
    .block-news-item-overlay{
      display: table;
      min-height: 35vh;
      max-height: 35vh;
      height: 35vh;
      width: 100%;
      overflow-y: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    a{
      color: $color-white;
    }
    h4{
      font-size: 1rem;
      color: $color-white;
      margin: 0;
      @media (max-width: $tablet) {
        font-size: 1rem;
      }
    }
    .block-news-item-content{
      padding: 1em;
    }
    .block-news-item-date{
      height: 4em;
      width: 4em;
      padding: 1em;
      margin-left: auto;
      color: $color-white;
      text-transform: uppercase;
      font-size: .7rem;
      font-weight: 600;
      text-align: center;
    }
  }
}