button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: $spacing-unit / 2;
  padding: 1.5em 2.5em;
  
  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: inset 0 0 0 .2em $color-brand;
  color: $color-brand;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase; 

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
button:focus {outline:0;}