
.site-footer{
  width: 100%;
  float: left;
  background: $color-black;
  color: $color-off-white;
}
.social-bar{
  background: $color-brand;
  width: 100%;
  text-align: center;
  padding: $spacing-unit / 1.5 0;
  line-height: 0;

}
.social-item-container{
  margin: 0;
}
.social-item{
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1em;
}
.social-item a{
  font-family: $alt-font-family;
  color: $color-white;
  font-weight: 700;
  font-size: .7rem;
  letter-spacing: .2em;
  padding: $spacing-unit / 4;
  @media (max-width: $phone) {
    font-size: .5rem;
  }
}
.footer-content{
  width: 88%;
  padding: $spacing-unit 6%;
  height: auto;
  display: inline-block;
}
.footer-header{
  text-align: center;
  margin-bottom: $spacing-unit;
  .footer-title{
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 1rem;
    @media (max-width: $tablet) {
      font-size: .8rem;
    }
  }
  a{
    color: $color-white;
    border-bottom: 3px solid $color-transparent;
  }
  a:hover{
    border-bottom: 3px solid $color-white;
  }


}
.footer-logos{
  margin: 0 auto;
  text-align: center;
  .footer-logo{
    height: 6em;
    width: auto;
    margin: $spacing-unit / 2;
  }
}
.footer-links{
  display: inline-block;
  width: 100%;
}
.footer-col{
  @include column(1/3);
  @media (max-width: $tablet) {
    @include column(1/2, $cycle: 2);
    margin-bottom: $spacing-unit / 2;
  }
  address{
    color: $color-white;
    font-family: $alt-font-family;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 2.2;
  }
  li{
    color: $color-white;
    font-family: $alt-font-family;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .05rem;
    list-style: none;
  }
}
h4.footer-header{
  text-transform: uppercase;
  text-align: left;
  color: $color-off-white;
  letter-spacing: .2rem;
  font-size: .9rem;
  margin-bottom: $spacing-unit / 4;
}
a.footer-title{
  color: $color-white;
  text-transform: uppercase;
  font-family: $header-font-family;
  letter-spacing: .9em;
  text-decoration: none;
}

