.home-header{
  display: table;
  width: 100%;
  min-height: 90vh;
  max-height: 90vh;
  height: 90vh;
  margin-top: -3em;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  @include fadeIn(
    $delay: .5s
  );
  @media (max-width: $tablet) {
    min-height: 70vh;
    max-height: 70vh;
    height: 70vh;
    background-attachment: scroll;
  }
}
h1.header-title{
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  color: $color-white;
  font-family: $header-font-family;
  margin-bottom: 0;
  text-align: center;
  @include fadeIn(
    $delay: .8s
  );
  @media (max-width: $laptop) {
    font-size:  4rem;
    letter-spacing: 1rem;
  }
  @media (max-width: $tablet) {
    font-size:  2rem;
    letter-spacing: .8rem;
  }
  @media (max-width: $phone) {
    font-size:  1.4rem;
    letter-spacing: .5rem;
  }
}
h1.header-subtitle{
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .8rem;
  color: $color-white;
  font-family: $header-font-family;
  margin-bottom: 0;
  text-align: center;

  @include fadeIn(
    $delay: 1s
  );
  @media (max-width: $laptop) {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .6rem;
  }
  @media (max-width: $tablet) {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
  }
  @media (max-width: $phone) {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
}
.header-content{
  width: 92%;
  padding: 0 4%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 5vh;
  @media (max-width: $tablet) {
    width: 99%;
    padding: 1rem 0;
    margin: 0;
    margin-bottom: $spacing-unit / 4;
  }
  @media (max-width: $phone) {
    width: 99%;
    padding: 1rem 0;
    margin: 0;
    margin-bottom: $spacing-unit / 4;
  }
  button{
    margin-top: $spacing-unit / 2;
    font-size: 120%;
    box-shadow: inset 0 0 0 .2em $color-transparent;
    }

}
.header-badge{
  height: 5vh;
  width: auto;
  margin-bottom: $spacing-unit / 4;
  @include fadeIn(
    $delay: 1.5s
  );
  @media (max-width: $tablet) {
    height: 20vh;
  }
  @media (max-width: $phone) {
    height: 10vh;
  }
}
.header-text{
  color: $color-white;
  @include fadeInUp(
    $delay: 2s
  );
}
.page-header{
  display: table;
  width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  @include fadeIn(
    $delay: .5s
  );
  @media (max-width: $tablet) {
    background-attachment: scroll;
  }
}
.page-header-content{
  margin: 0 auto;
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit / 2;
  padding: $spacing-unit / 2 0;
  @include fadeIn(
    $delay: 1.5s
  );
  @media (max-width: $tablet) {
    max-width: 90%;
  }
}
h1.page-title{
  font-size: 400%;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: $color-white;
  margin: 0 auto;
  padding: $spacing-unit;
  border: .2em solid $color-white;
  width: 30%;
  position: relative;

  @media (max-width: $laptop) {
    font-size:  300%;
    letter-spacing: 1rem;
  }
  @media (max-width: $tablet) {
    font-size:  200%;
    letter-spacing: 1rem;
  }
  @media (max-width: $phone) {
    font-size:  100%;
    letter-spacing: .6rem;
  }
}
.page{
  @include fadeIn(
    $delay: 1s
  );
  h2.page-subtitle{
    color: $color-grey;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .15em;
    margin-bottom: $spacing-unit / 1;
    @include fadeIn(
      $delay: 1.7s
    );
  }
}
h1.post-header-title{
  font-size: 400%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
  color: $color-black;
  @include fadeIn(
    $delay: 1.5s
  );
  @media (max-width: $laptop) {
    font-size:  300%;
    letter-spacing: 1.5rem;
  }
  @media (max-width: $tablet) {
    font-size:  250%;
    letter-spacing: 1.2rem;
  }
  @media (max-width: $phone) {
    font-size:  200%;
    letter-spacing: 1rem;
  }
}
.post{
  @include fadeIn(
    $delay: 1s
  );
}
.post-item{
  margin-bottom: $spacing-unit / 2;
  @include fadeIn(
  $delay: 2s
  );
}
.post-title{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-bottom: $spacing-unit / 4;
  line-height: 1.4;
  font-size: 300%;
  @media (max-width: $tablet) {
    font-size: 200%;
  }

}
.post-tag{
  font-family: $alt-font-family;
  text-transform: uppercase;
  text-align: center;
  font-size: 80%;
  letter-spacing: .1em;
  color: $color-grey-dark;
  margin-bottom: .5em;
}

.post-meta{
  font-family: $alt-font-family;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 80%;
  letter-spacing: .1em;
  color: $color-grey-dark;
  margin-bottom: $spacing-unit / 4;
}
.post-meta:before{
  position: absolute;
  overflow: hidden;
  width: 20%;
  margin-top: .7em;
  margin-left: -21%;
  content: '\a0';
  border: 0;
  height: 1px;
  border-bottom: 2px dotted;
  margin-bottom: $spacing-unit / 2;
  color: $color-grey-light;
}
.post-meta:after{
  position: absolute;
  overflow: hidden;
  margin-top: .7em;
  margin-left: 1%;
  width: 19%;
  content: '\a0';
  border-bottom: 2px dotted;
  height: 1px;
  margin-bottom: $spacing-unit / 2;
  color: $color-grey-light;
}

.fade-in{
  @include fadeIn(
    $delay: .8s
  );
}
.fade-in-slow{
  @include fadeIn(
    $delay: 1.8s
  );
}
.fade-in-slower{
  @include fadeIn(
    $delay: 2.0s
  );
}

#video-banner {
    position: relative;
    background: $color-brand;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: table;
}

#video-banner .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    @media (max-width: $tablet) {
      width: 100%;
      height: 100%;
      padding: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-align: center;
    }
}
#video-banner .video-overlay {
    background-image: linear-gradient(to bottom right, $color-brand 50%, $color-brand-alt);
	  opacity: .90;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    @media (max-width: $tablet) {
      width: 100%;
      height: 100%;
      padding: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-align: center;
    }
}
#video-banner video {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
}

#video-banner .video-element {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
