
.vertical{
  display: table-cell;
  vertical-align: middle;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.text-center{
  text-align: center;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}
.pad{
  width: 100%;
  height: 5vh;
  display: inline-block;
}
.fade-in{
  @include fadeIn(
    $delay: .8s
  );
}
.fade-in-slow{
  @include fadeIn(
    $delay: 1.2s
  );
}
.fade-in-slower{
  @include fadeIn(
    $delay: 1.4s
  );
}
.video-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  background-image: $color-brand;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  @include fadeOut(
    $delay: .8s
  );
}
.visible{
  display: table;
  @include fadeIn(
    $delay: .8s
  );
}
//Colors
.color-white{
  color: $color-white;
}
.color-brand{
  color: $color-brand;
}
//Backgrounds
.color-brand-bg{
  background: rgba( $color-brand, .9 );
  background: shade( $color-brand, 10% );
}
.color-brand-alt-bg{
  background: rgba( $color-brand-alt, .9 );
  background: shade( $color-brand-alt, 10% );

}
.color-grey-bg{
  background: rgba( $color-grey, .9 );
  background: shade( $color-grey, 10% );
}
.color-grey-light-bg{
  background: rgba( $color-grey-light, .9 );
  background: shade( $color-grey-light, 10% );
}
.color-grey-dark-bg{
  background: rgba( $color-grey-dark, .9 );
  background: shade( $color-grey-dark, 10% );
}
.opaque{
  opacity: .8;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: $spacing-unit / 2;
    height: 0;
    overflow: hidden;
    background-image: $color-brand;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
a.play-video{
  color: $color-white;
  font-family: $alt-font-family;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: .8rem;
  display: block;
  @include fadeIn(
    $delay: 1.7s
  );
  .fa{
    color: $color-white;
    font-size: 4rem;
    margin-bottom: $spacing-unit / 6;
  }
}