<section class="block">
  <div alt="{{ .Title }}" class="block-image {{ if isset .Params "alignment" }}{{ index .Params "alignment" }}{{ end }}{{ if isset .Params "color" }} {{ .Params.color }}{{ else }} color-white {{ end }}" style="background-image:linear-gradient(rgba(0, 30, 60, 0.4), rgba(0, 30, 60, 0.4)), url(images-resized/medium/{{ .Params.image }});">
  </div>
  <div class="block-content">
      <div class="block-text vertical">
        <div class="container">
            <hr />
            <h2 class="block-title">{{ .Title }}</h2>
            {{ .Content }}
            <button class="button draw" href="{{ .Params.button }}">Learn More <i class="fal fa-long-arrow-right fa-1x"></i></button>
        </div>
      </div>
  </div>
  </section>