<section class="block-feature">
  <h2 class="block-feature-title">{{ .Title }}</h2>
  <hr class="hr-space" />
    <div class="container-wide">
      <div class="block-feature-text">
        <p>{{ .Content }}</p>
        <a class="button" href="{{ .Params.button }}">Learn More</a>
      </div>
    </div>
  </div>
</section>